<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}IskoGuide{% endblock %}</title>
    </head>

    <body>
<!--
        <nav class="navbar navbar-expand navbar-dark bg-dark">
-            <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbar">
-                <span class="navbar-toggler-icon"></span>"
+            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
+                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="login" href="/login">Log In</a>
                    <a class="nav-item nav-link" id="signp" href="/signup">Sign Up</a>
                    <a class="nav-item nav-link" id="logout" href="/logout">Log Out</a>
                    <a class="nav-item nav-link" id="home" href="/home">Home</a>
                </div>
            </div>
        </nav>
-->

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <header>
            <div class="main">
                <div class="logo">
                    <img src="pup_logo.png">
                    <img src="{{ url_for('static', filename='pup_logo.png') }}">
                </div>
                <ul>
                    <li><a class="nav-item nav-link" id="login" href="/login">Log In</a></li>
                    <li><a class="nav-item nav-link" id="signp" href="/signup">Sign Up</a></li>
                    <li><a class="nav-item nav-link" id="logout" href="/logout">Log Out</a></li>
                    <li><a class="nav-item nav-link" id="home" href="/home">Home</a></li>
                </ul>
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>

            <div class="title">
                <h1>IskoGuide</h1>
                <div id="output-log" style="color: yellow; margin-top: 20px; font-family: monospace;"></div>
            </div>
        </header>
        <script type="text/css" src="{{ url_for('static', filename='style.css') }}"></script>

    </body>
</html>